* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;

}

header {
    height: 4rem;
    width: 100%;
    background-color: #59c0ce;
    color: #fff; 
    position: fixed;
    top: 0;
    z-index: 999;
}

a {
    text-decoration: none;
}

.back {
    padding: 0 1rem;
    float: left;
    line-height: 4rem;
}

.back img {
    width: 1rem;    
}

.title {
    font-size: 1.6rem;
    line-height: 4rem; 
    text-align: center;
    padding-right: 3rem;  
}

.info {
    background: url(../images/task5-1_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 100%;
    margin-top: 4rem;
    position: relative;
}
.bg {
    width:100%;
    xz-index: -99;
    
}
.bg img {
    width: 100%;
}
.info-pic img {
    width: 6rem;
    position: absolute;
    top: 50%;
    left:2rem;
    margin-top:-3rem;
}
.info-self {
    position: absolute;
    top: 50%;
    left: 9rem;
    margin-top: -2rem;
    color: #fff;
    
}
.self {
    font-size: 1.6rem;
}
.site {
    height:2 rem;
    line-height: 2rem; 
}
.site img {    
    width: 1.4rem; 
    vertical-align: middle; 
}
.site span {
    font-size: 1.4rem;
    vertical-align: middle;
}
.skill {
    margin: 2rem;
    padding-left: .5rem;
    border-left: .5rem solid #59c0ce;
    font-size: 1.6rem;
}

ul {
    border-top: .1rem solid #c5c5c8;
    margin-bottom: 3rem;
}
ul li {
    display: flex;
    align-items: center;
    padding: 0 .5rem 1rem;
    margin: 1rem; 
    border-bottom: .1rem solid #c5c5c8;
}
ul li div {
    font-size: 1.6rem;
}
.star{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 .2rem;
    vertical-align: middle;
}
.request div {
    padding: 0 .7rem;
    line-height: 1.6rem;

}
.request1 {
    border-right: .1rem solid #c5c5c8;
}
.ps1,.ps2 {
    color: #c5c5c8;
    padding: 0 1rem;
    border-right: .1rem solid #c5c5c8;
}
.ps3,.ps4,.ps5 {
    padding-left: 1rem;
}
.ps4{
    color: #e76f6e;
}
.ps2 {
    white-space: nowrap;    
}
footer {
    background:#ffffff;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 3rem;
}
.message {
    font-size: 1.6rem;
    border: .2rem solid rgb(104,205,213) ;
    border-radius: 5px;
    outline: none;
    color: rgb(104,205,213);
    background: white;
    width: 47vw;
    height: 3rem; 
    margin: 0 .4rem;
   
}
.tel-contact {
    font-size: 1.6rem;
    background: rgb(104,205,213);
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    width: 47vw;
    height: 3rem;
    margin: 0 .4rem;
}
